DATABASE_URL="postgresql://postgres:postgres@localhost:5432/julz_herbals?schema=public"
NEXTAUTH_SECRET="julz-herbals-secret-key-2026-secure-auth"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="1030285752923-4osuqstsq9hqvv6sv2m0mpmufr9rgmod.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
